.Container-ForecastInstance {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    padding: 0.75rem 1.5rem 0.75rem 1rem;
    background-color: rgba(202, 202, 202, 0.3);
    border-bottom: 0.05rem solid rgba(202, 202, 202, 0.3);
    border-radius: 0.1rem;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    div{
        text-align: center;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; 
    }
}

.ForecastInstance__Heading{
    padding-bottom: 1.25rem;
    font-size: 1.25rem; 
}

.ForecastInstance__WeatherIcon{
    width: 2.5rem;
    height: 2.5rem;
}