html {
    background: url("./images/wallpaper/blue-bright-clouds-417122.jpg") no-repeat center center fixed;
    background-size: cover; 
}
  
body {
    line-height: 1.5rem;
    color: white;
    font-family: 'Abril Fatface', cursive; 
}